<ng-container tuiTableFilters>
  <form class="form tui-space_bottom-4" [formGroup]="form">
    <tui-input
      formControlName="term"
      class="control"
      [tuiTableFilter]="filterBy"
      [tuiTextfieldSize]="'m'"
      [tuiGenericFilter]="filter"
    >
      Search by {{ filterBy }}
    </tui-input>
    <tui-input
      *ngIf="additionalFilterBy"
      formControlName="additionalTerm"
      class="control"
      [tuiTableFilter]="additionalFilterBy"
      [tuiTextfieldSize]="'m'"
      [tuiGenericFilter]="additionalFilter"
    >
      Search by {{ additionalFilterBy }}
    </tui-input>
  </form>

  <table tuiTable class="table" [columns]="source.columns">
    <thead>
      <tr tuiThGroup>
        <th *ngFor="let column of source.columns" tuiTh>
          {{ column }}
        </th>
      </tr>
    </thead>
    <tbody tuiTbody [data]="source.data">
      <tr *ngFor="let item of source.data | tuiTableFilters | async" tuiTr>
        <ng-container *ngFor="let column of source.columns">
          <td *tuiCell="column" tuiTd>
            <ng-container
              *ngTemplateOutlet="
                columnTemplate;
                context: { $implicit: item, column }
              "
            ></ng-container>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</ng-container>

<ng-template #columnTemplate let-item let-column="column">
  {{ item[column] }}
</ng-template>
